.background {
  min-height: 100vh;
  background-color: #dddddd;
  margin: 0;
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.button-wrapper {
  text-align: center;
  margin: 5% 0 10%;
}

.input-box {
  background-color: #000;
  color: #fff;
  margin-bottom: 8%;
}

.input-box h2 {
  margin: 0 auto;
  padding: 10%;
}

.input-wrapper {
  display: block;
  height: 60px;
  padding-top: 25px;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.input-wrapper .input-wrapper-input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #9e9e9e;
  font-size: 16px;
  padding: 4px 0;
  position: relative;
  z-index: 1;
}

.input-wrapper .input-wrapper-input:focus {
  outline: none;
}

.input-wrapper label {
  color: #9e9e9e;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 29px;
  transition: top 0.1s ease-in 0s;
  z-index: 0;
}

.input-wrapper .input-wrapper-input:focus + label {
  color: #000;
  top: 0px;
}

.input-wrapper .input-wrapper-input + label + .indicator {
  border-bottom: 2px solid #000;
  height: 0;
  position: absolute;
  top: 50px;
  transition: width 0.1s ease-in 0s;
  width: 0;
  z-index: 2;
}

.input-wrapper .input-wrapper-input:focus + label + .indicator {
  width: 100%;
}

.input-wrapper .input-wrapper-input:valid + label {
  top: 0px;
}
