.btn-new-journey-container > a {
  display: flex;
  justify-content: center;
}

.btn-new-journey {
  margin-top: 15%;
}

.hidden {
  display: none;
}

.user-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
